body{
    text-align: center;
    //background-color: rgb(168, 11, 11);
    background-image: url("./background/drumkitbg.jpg")
}

h1{
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 rgb(0, 0, 0);

}
footer{
    color: #DBEDF3;
    font-family: sans-serif;
}

.set{
    margin: 10% auto;
}

.w{
    background-image: url("./images/crash.png");
}
.a{
    background-image: url("./images/kick.png");
}
.s{
    background-image: url("./images/snare.png");
}
.d{
    background-image: url("./images/tom1.png");
}
.j{
    background-image: url("./images/tom2.png");
}
.k{
    background-image: url("./images/tom3.png");
}
.l{
    background-image: url("./images/tom4.png");
}

.drum{
    outline: none;
    border: 10px solid;
    font-size: 3rem;
    font-family: "Arvo", cursive;
    line-height: 2;
    font-weight: 900;
    color: black;
    text-shadow: 3px 0 #DBEDF3;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    text-align:center;
    margin: 10px;
    background-color: white;
}
